.checkbox-wrapper {
  @include display(flex);
  @include justify-content(flex-start);

  .checkbox {
    margin: 10px 10px;
    flex-basis: 150px;

    &:first-child {
      margin-left: 0;
    }
  }
}


.checkbox {
  position: relative;
  display: inline-block;
  vertical-align: top;
  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-family: $font-sans;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 17px;
  line-height: 24px;
  margin: 10px 0;
  cursor: pointer;
}
.checkbox > .checkbox__checkmark {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  position: relative;
  display: inline-block;
  vertical-align: top;
  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-family: $font-sans;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 17px;
  position: relative;
  overflow: hidden;
  height: 24px;
  pointer-events: none;
}
.checkbox > input[type="checkbox"] {
  position: absolute;
  overflow: hidden;
  right: 0px;
  top: 0px;
  left: 0px;
  bottom: 0px;
  padding: 0;
  border: 0;
  opacity: 0.001;
  z-index: 1;
  vertical-align: top;
  outline: none;
  width: 100%;
  height: 100%;
  margin: 0;
  -webkit-appearance: none;
  appearance: none;
  height: 0;
  width: 0;
}
.checkbox > input[type="checkbox"]:checked {
  background: $main-color;
}
.checkbox > input[type="checkbox"]:checked + .checkbox__checkmark:before {
  background: $main-color;
  border: 1px solid $main-color;
}
.checkbox > input[type="checkbox"]:checked + .checkbox__checkmark:after {
  opacity: 1;
}
.checkbox > .checkbox__checkmark:before {
  content: '';
  position: absolute;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  width: 22px;
  height: 22px;
  background: transparent;
  border: 1px solid $main-color;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: none;
  box-shadow: none;
  left: 0;
}
.checkbox > .checkbox__checkmark {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  position: relative;
  display: inline-block;
  vertical-align: top;
  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-family: $font-sans;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 17px;
  position: relative;
  overflow: hidden;
  width: 24px;
  height: 24px;
}
.checkbox > .checkbox__checkmark:after {
  content: '';
  position: absolute;
  top: 7px;
  left: 6px;
  width: 10px;
  height: 5px;
  background: transparent;
  border: 3px solid #fff;
  border-width: 2px;
  border-top: none;
  border-right: none;
  -webkit-border-radius: 0px;
  border-radius: 0px;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  opacity: 0;
}
.checkbox > input[type="checkbox"]:focus + .checkbox__checkmark:before {
  -webkit-box-shadow: none;
  box-shadow: none;
}
.checkbox > input[type="checkbox"]:disabled + .checkbox__checkmark {
  opacity: 0.3;
  cursor: default;
  pointer-events: none;
}
.checkbox > input[type="checkbox"]:disabled:active + .checkbox__checkmark:before {
  background: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
}