.range {
  padding: 0;
  margin: 0;
  font: inherit;
  color: inherit;
  background: transparent;
  border: none;
  line-height: normal;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  vertical-align: top;
  outline: none;
  line-height: 1;
  -webkit-appearance: none;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  border: none;
  height: 2px;
  -webkit-border-radius: 0;
  border-radius: 0;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ddd), to(#ddd));
  background-image: -webkit-linear-gradient(#ddd, #ddd);
  background-image: -moz-linear-gradient(#ddd, #ddd);
  background-image: -o-linear-gradient(#ddd, #ddd);
  background-image: linear-gradient(#ddd, #ddd);
  background-position: left center;
  -webkit-background-size: 100% 2px;
  background-size: 100% 2px;
  background-repeat: no-repeat;
  overflow: hidden;
  height: 31px;
}
.range::-moz-range-track {
  position: relative;
  border: none;
  background-color: #ddd;
  height: 2px;
  border-radius: 30px;
  box-shadow: none;
  top: 0;
  margin: 0;
  padding: 0;
}
.range::-webkit-slider-thumb {
  cursor: pointer;
  -webkit-appearance: none;
  position: relative;
  height: 29px;
  width: 29px;
  background-color: #fff;
  border: 1px solid #999;
  -webkit-border-radius: 30px;
  border-radius: 30px;
  -webkit-box-shadow: none;
  box-shadow: none;
  top: 0;
  margin: 0;
  padding: 0;
}
.range::-moz-range-thumb {
  cursor: pointer;
  position: relative;
  height: 29px;
  width: 29px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 30px;
  box-shadow: none;
  margin: 0;
  padding: 0;
}
.range::-webkit-slider-thumb:before {
  position: absolute;
  top: 13px;
  right: 0px;
  left: -1024px;
  width: 1024px;
  height: 2px;
  background-color: $main-color;
  content: '';
  margin: 0;
  padding: 0;
}
.range:disabled {
  opacity: 0.3;
  cursor: default;
  pointer-events: none;
}