<form {{action "search" on="submit"}} class="create-event">
  <div class="item-left">
    <label>
      DNI
      {{input type="text" value=controller.dni}}
    </label>
  </div>
  <div class="item-right">
    <input type="submit" value="Buscar">
  </div>
</form>
